@model IEnumerable<CongoFoot.Models.Article>

@{
    ViewBag.Title = "Toute l'actualite de CongoFoot";
}


<!-- Secondary Section -->
<div id="secondary-section">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-sm-8">

                <div class="vid-detail-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="blog-detail-img">
                                <img class="img-responsive" src="~/Content/Images/blog-detail-img.jpg" alt="blog image">
                            </div>
                            <div class="vid-text">
                                <p><span>By</span> <a href="#">Admin</a></p>
                                <h1>Learn Guitar</h1>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="latst-vid secondary-vid">
                    <div class="vid-heading overflow-hidden">
                        <span style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp;" class="wow fadeInUp" data-wow-duration="0.8s">A la Une</span>
                        <div style="visibility: visible; animation-duration: 0.8s; animation-name: zoomIn;" class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
                    </div>
                    <div class="row auto-clear">
                        <div class="vid-container">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="latest-vid-img-container">
                                        <div class="vid-img">
                                            <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.UrlImage)" alt="video image">
                                            <div class="overlay-div"></div>
                                        </div>
                                        <div class="vid-text">
                                            <p><span>Par</span> <a href="#">@Html.DisplayFor(modelItem => item.Auteur)</a></p>
                                            <h1>@Html.ActionLink(item.Titre, "Details", "Articles", new { id = item.ID }, null)</h1>
                                            <p class="vid-info-text">
                                                <span>@Html.DisplayFor(modelItem => item.DatePublication)</span>
                                                <span>/</span>
                                                <span>
                                                    @Html.DisplayFor(modelItem => item.Categorie)
                                                </span>
                                                <span>/</span>
                                                <span>410 views</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>


            <!-- bar lateral -->
            <div class="col-md-3 col-sm-4">
                <div class="sidebar">
                    @Html.Partial("LeftBarView")
                </div>
            </div>
            <!-- bar lateral -->




        </div>
    </div>
</div>

<!-- Secondary Section -->
