@model IEnumerable<CongoFoot.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePublication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePublication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
