@model IEnumerable<CongoFoot.Models.Article>

<!-- bar lateral -->

        <div class="sidebar-vid most-liked">
            <h1 class="sidebar-heading">Fil Info</h1>

            @foreach (var article in ViewBag.AllArticles)
            {
                <div class="media">
                    @*<div class="media-left">
                            <img src="~/Content/Images/most-liked-img-s1.jpg" alt="video">
                        </div>*@
                    <div class="media-body">
                        @*<h1>@Html.ActionLink(@article.Titre, "Details", new { id = @article.ID })</h1>*@
                        <h1>@article.Titre</h1>
                        <p>
                            <span>@article.DatePublication</span>
                            <span>@article.Categorie</span>
                        </p>
                    </div>
                </div>
            }
        </div>


        <div class="sidebar-vid most-viewd">
            <h1 class="sidebar-heading">Most Viewed</h1>
            <div class="most-viewd-container">
                <div class="most-viewd-img">
                    <img class="img-responsive" src="~/Content/Images/most-viewd-1.jpg" alt="video">
                </div>
                <div class="most-viewd-text">
                    <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Human Rights Violation</a></h1>
                    <p>
                        <span><i class="fa fa-comment"></i> 10</span>
                        <span><i class="fa fa-eye"></i> 534</span>
                    </p>
                </div>
            </div>
            <div class="most-viewd-container">
                <div class="most-viewd-img">
                    <img class="img-responsive" src="~/Content/Images/most-viewd-2.jpg" alt="video">
                </div>
                <div class="most-viewd-text">
                    <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">War Video Compilation</a></h1>
                    <p>
                        <span><i class="fa fa-comment"></i> 10</span>
                        <span><i class="fa fa-eye"></i> 534</span>
                    </p>
                </div>
            </div>
        </div>


        <div class="tags">
            <h1 class="sidebar-heading">Tags</h1>
            <ul class="list-inline list-unstyled">
                <li><a href="#">3D</a></li>
                <li><a href="#">Animals &amp; Birds</a></li>
                <li><a href="#">HD</a></li>
                <li><a href="#">Horror</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Self</a></li>
                <li><a href="#">HD Songs</a></li>
                <li><a href="#">Comedy</a></li>
            </ul>
        </div>

<!-- bar lateral -->